@charset "UTF-8";

html, body {
height: 100%;
margin: 0; 
display: flex;
flex-direction: column;
        }
        
.personal {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 80%; 
	max-width: 900px;
	justify-content: center;  
    align-items: center; 
	text-align: center;
	margin: 0 auto; 
	padding-bottom: 20px;
	}
	
header {
    flex-shrink: 0; 
}

footer {
    flex-shrink: 0; 
}
table {
	margin-top: 24px;
}

.table-caption {
    caption-side: top; 
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }

form {
	margin-top: 24px;
	border: solid, lightgrey, 1px;
	padding: 12px 12px 12px 12px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);	
}  