@charset "UTF-8";
h1 {
	text-align: center;
	margin-top: 1em;
}

.toast-container {
	position: fixed;
	bottom: 1em;
	right:1em;
    z-index: 1050; 
}

#filtro {
	width: 50px;
	height: auto;
}

#formulario {
	margin-left: 12px;
  position: fixed;
  top: 20%;
}
